*{
	margin: 0;
	padding: 0;
}
body{
	background: #B6981C;
	background-size: cover;
}
.face{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #F3E80A;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
.mouth{
	position: absolute;
	top: 65%;
	left: 25%;
	background: #B6981C;
	height: 70px;
	width: 150px;
	border-bottom-left-radius: 70px;
	border-bottom-right-radius: 70px;
}
.face:hover .mouth{
	height: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.left-eye{
	position: absolute;
	top: 30%;
	left: 25%;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: white;
}
.right-eye{
	position: absolute;
	top: 30%;
	left: 55%;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: white;
}
.left-eyeball{
	position: absolute;
	top: 45%;
	left: 27%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: black;
}
.right-eyeball{
	position: absolute;
	top: 45%;
	left: 27%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: black;
}